body {
    color:#444;
    background-color: #EEEEEE;
    max-width:650px;
    margin: 40px auto;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    padding:10px;
}