

body {
    color:#444;
    background-color: #EEEEEE;
    max-width:650px;
    margin:  auto;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    padding: 0 ;
}
div {
    padding: 0 10px;
}

h1 {
    color:#EEEEEE;
    background-color: #444;
    margin:0;
    padding: 20px ;
    font-size:28px;
}

.date {
    font-style: italic;
}

.chapter {
    text-align: center;
}

a {
    color:#444;
    font-weight: bold;
}

#rps {
    border: 2px solid #444 ;
    padding: 10px;
    display:flex;
    flex-direction: column;
}

#buttons {
    display:flex;
    justify-content: space-around;
    
}

#buttons button {
    flex-grow:1;
    height:30px;
}

.results {
    display:flex;
    flex-direction: column;
}

.results p {
    margin:5px;
}

#darkMode {
    height:30px;
}